.UserInfo img {
  border-radius: 10%;
  width: 100px;
  height: 80px;
}
.comment-first {
  background-color: rgb(22, 133, 141);
  margin: 20px 0;
  padding: 20px;
  border-radius: 50%;
}
.Comment-text {
  background-color: rgba(79, 26, 170, 0.212);
  height: 250px;
  width: 150px;
}
.Comment-date {
  z-index: 8;
  position: absolute;
  margin-top: -70px;
  margin-left: 15px;
}
